<section>
    <div class="container col-md-6">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Enter ASIN..." [(ngModel)]="searchStr">
            <div class="input-group-append">
                <span class="input-group-text" (click)="search($event)">Search</span>
            </div>
        </div>
        <div *ngIf="error" class="text-danger">Error: {{error}}</div>
    </div>
</section>

<section >
    <div *ngIf="product" class="container col-md-4">
        <h5>Item: {{product.asin}}</h5>
        <table class="table">
            <tbody>
                <tr>
                    <th>ASIN</th>
                    <td>{{product.asin}}</td>
                </tr>
                <tr>
                    <th>Category</th>
                    <td>{{product.category}}</td>
                </tr>
                <tr>
                    <th>Rating</th>
                    <td>{{product.rating}}</td>
                </tr>
                <tr>
                    <th>Product Dimensions</th>
                    <td>{{product.dimensions}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>